######################## Filebeat Configuration ############################
#==========================  Modules configuration =============================
filebeat.modules:
#=========================== Filebeat inputs =============================
filebeat.inputs:
  - type: log
    enabled: false
    paths:
      - /var/log/*.log

filebeat.config:
  inputs:
    enabled: false
    path: inputs.d/*.yml
    reload.enabled: true
    reload.period: 10s
  modules:
    enabled: false
    path: modules.d/*.yml
    reload.enabled: true
    reload.period: 10s

#================================ General ======================================
#name:
#tags: ["service-X", "web-tier"]
#fields:
#  env: staging
#fields_under_root: false
#queue:
#mem:
#events: 4096
#flush.min_events: 2048
#flush.timeout: 1s


<%= render "outputs.yml.erb", :option => { cookbook: "elastic-beats" } %>

#================================= Paths ======================================
#path.home:
#path.config: ${path.home}
#path.data: ${path.home}/data
#path.logs: ${path.home}/logs

<%= render "keystore.yml.erb", :option => { cookbook: "elastic-beats" } %>

<%= render "dashboards.yml.erb", :option => { cookbook: "elastic-beats" }, variables: {name: 'filebeat'} %>


#============================== Template =====================================
setup.template:
  enabled: true
  #name: filebeat-%{[agent.version]}"
  #pattern: "filebeat-%{[agent.version]}-*"
  #fields: "${path.config}/fields.yml"
  json.enabled: false
  json.path: "${path.config}/template.json"
  overwrite: true
  settings:
    index:
      number_of_shards: 1
      codec: best_compression
      number_of_routing_shards: 30
      enabled: true

<%= render "ilm.yml.erb", :option => { cookbook: "elastic-beats" }, variables: {name: 'filebeat'} %>

<%= render "kibana.yml.erb", :option => { cookbook: "elastic-beats" } %>

<%= render "logging.yml.erb", :option => { cookbook: "elastic-beats" }, variables: {name: 'filebeat'} %>

<%= render "x-pack-monitoring.yml.erb", :option => { cookbook: "elastic-beats" } %>


#================================ HTTP Endpoint ======================================
http:
  enabled: false
  host: localhost
  port: 5066

<%= render "process_security.yml.erb", :option => { cookbook: "elastic-beats" } %>

#================================= Migration ==================================
migration.6_to_7.enabled: true